.user-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 200px;
  height: 100vh;
  background-color: #2c2f33;
  color: #ffffff;
}

.chat-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: #36393f;
}

.current-users {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 250px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #23272a; 
  border-left: 1px solid #40444b;
}

.message-history-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #36393f;
}

.chat-history {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
}

.message-input-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: #40444b;
  align-items: center;
}

.message-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #2f3136;
  color: #dcddde;
}

.message-send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #5865f2; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.message-send-button:hover {
  background-color: #4752c4;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .user-layout {
    grid-template-columns: 1fr;
  }

  .current-users {
    grid-column: 1 / 2;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #40444b;
  }

  .message-input {
    font-size: 14px;
  }

  .message-send-button {
    padding: 8px 16px;
    font-size: 12px;
  }
}
