h1
{
    margin-left:30%;
    font-size: 40px;
}
body
{
    background-color: #2c2f33;
    color: 'rgb(var(--foreground-rgb))';
    background: #2c2f33;
}
button{
    position: relative;
    top: 40px;
    background-color: white;
    color: black;
    border: solid black 3px;
    border-style: solid;
    border-radius:5px;
}

.Message
{
    background-color:white;
    color:black;
    position:relative;
    left:50%;
    border:black solid 7px;
    width:25%;
}