/*#Chatbox
{
    border:solid black 4px;

}

#Chatbox>div
{
    border:solid white 4px;
}*/

input
{
    color: black;
    display: flex;
    margin-top:25px;
    position:relative;
    top:50px;
}
.Message{
 display:flex;
     position:relative;

     width:25%;
      border:black solid 7px;
}

.UrName
{
    position:relative;
    top:70px;
}